<style>
.catamaran-bold {
  font-family: 'Catamaran-Bold'
}
</style>

<div class="row">
  <div class="col-xs-12">
    <a type="button" class=" btn btn-info" ui-sref="portal.gebouwen.detail({id: statusctrl.$state.params.id})">
      <span class="glyphicon glyphicon-menu-left"></span>
      Terug naar gebouwdetails
    </a>
  </div>
</div>

<h1>Historie van {{statusctrl.gebouw.BAG_adres}} {{statusctrl.gebouw.BAG_huisnummer}}, {{statusctrl.gebouw.BAG_postcode}}, {{statusctrl.gebouw.BAG_plaats}}</h1>

<br>

<div class="row">

  <!-- Historie -->
  <div class="col-sm-6">
    <h3>Historie</h3>
    <div class="panel panel-default" ng-repeat="bezoek in statusctrl.bezoeken">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="catamaran-bold">{{bezoek.DatumMelding}}</span></h3>
      </div>
      <ul class=" list-group">
        <li class="list-group-item">
          <span class="catamaran-bold">Gemeld door:</span>
          {{bezoek.GemeldDoor}}
        </li>
        <li class="list-group-item">
          <span class="catamaran-bold">Soort Bon Omschrijving:</span>
          {{bezoek.SoortBonOmschrijving}}
        </li>
        <li class="list-group-item">
          <span class="catamaran-bold">Bonnummer:</span>
          {{bezoek.Bonnummer}}
        </li>
        <li class="list-group-item">
          {{bezoek}}
        </li>
      </ul>
    </div>
  </div>

  <!-- Actueel -->
  <div class="col-sm-6">

    <h3>Actueel</h3>
    <div class="panel panel-default" ng-repeat="melding in statusctrl.meldingen">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>{{melding.dateCreated | date}}</strong></h3>
      </div>
      <ul class=" list-group">
        <li class="list-group-item">
          <b>Status:</b>
          {{melding.status}}
        </li>
        <li class="list-group-item" ng-click="statusctrl.$state.go('portal.gebouwen.detail.status.meldingen', {id: $state.params.id, meldingId: melding.meldingId})">
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
          Aanpassen
        </li>
      </ul>
    </div>
  </div>

</div>
