$break-super-small: 320px;
$break-extra-small: 480px;
$break-small: 768px;
$break-medium: 1024px;
$break-large: 1359px;
$lichtgrijs: #E8E8F2;
$grijsborder: #e7e7e7;
$donkergrijs: #4A4A4A;
$lightblue: #0c97c4;
// $progyellow: #DAAF00;
$vision-blue: #003b59;

$bgcolor: #F0EFEF;
$gold: #c49f66;
$donkergold: #b98d49;
$magenta: #DF4754;
