<div class="row">

  <div class="col-sm-6">

    <div class="panel panel-danger text-center front-button" ng-click="storingenctrl.$state.go('portal.meldingen')">
      <div class="panel-heading">
        <h1>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        </h1>

      </div>
      <div class="panel-body">
        Meld een storing
      </div>
    </div>

  </div>

  <div class="col-sm-6">

    <div class="panel panel-primary text-center front-button" ng-click="storingenctrl.$state.go('portal.gebouwen')">
      <div class="panel-heading">
        <h1>
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        </h1>
      </div>
      <div class="panel-body">
        Zoek een gebouw
      </div>
    </div>

  </div>

</div>
