<h1>Meldingen</h1>

<form class="form-inline vertical-padding-15">
  <label class="sr-only" for="inlineFormInput">Naam</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Rayon">

  <label class="sr-only" for="inlineFormInput">Adres</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Complexnummer">

  <label class="sr-only" for="inlineFormInput">Woonplaats</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Adres">

  <label class="sr-only" for="inlineFormInput">Klantnummer</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Adres">
</form>

<br>

<div class="col-sm-7 col-md-8 vertical-padding-15">

  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Kaart" ng-click="meldingen.selectedTab = 'map'"></uib-tab>
    <uib-tab index="1" heading="Lijst" ng-click="meldingen.selectedTab = 'list'"></uib-tab>
  </uib-tabset>

  <br>

  <div ng-show="meldingen.selectedTab === 'map'">
    <div id="map"></div>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

  </div>
  <gebouwen-tabel ng-show="meldingen.selectedTab === 'list'" gebouwen="meldingen.gebouwen" click-event="meldingen.selectGebouw(id)"></gebouwen-tabel>

</div>

<div class="col-sm-5 col-md-4">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Klacht voor Gebouw X:</h3>
    </div>
    <ul class=" list-group">
      <li class="list-group-item">
        <label class="sr-only" for="inlineFormInput">Naam</label>
        <input ng-model="meldingen.form.naam" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Naam">
      </li>
      <li class="list-group-item">
        <label class="sr-only" for="inlineFormInput">Adres</label>
        <input ng-model="meldingen.form.adres" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Adres">
      </li>
      <li class="list-group-item">
        <label class="sr-only" for="inlineFormInput">Klacht</label>
        <input ng-model="meldingen.form.klacht" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Klacht">
      </li>
      <li class="list-group-item">
        <label class="sr-only" for="inlineFormInput">Element</label>
        <input ng-model="meldingen.form.element" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Element">
      </li>
      <li class="list-group-item">
        <label class="sr-only" for="inlineFormInput">VHENR</label>
        <input ng-model="meldingen.form.vhenr" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="VHENR">
      </li>
    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Foto:</h3>
    </div>
    <ul class=" list-group">
      <li class="list-group-item">
        <label class="sr-only" for="inlineFormInput">Beschrijving Foto</label>
        <input ng-model="meldingen.form.fotobeschrijving" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Beschrijving Foto">
      </li>
      <li class="list-group-item form-control-file">
        <b>Uploaden:</b>
        <input type="file"/>
      </li>
    </ul>
  </div>

  <button type="button" class="btn btn-primary">Verstuur melding</button>

  <!-- <button type="button" class="btn btn-info" ng-click="meldingen.$state.go('portal.gebouwen.detail', {id: meldingen.selectedGebouw.gebouwId})">
    Ga naar Gebouw
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button> -->

</div>
