<h1>Gebouwen</h1>

<br>

<div class="row">

  <form class="form-inline">
    <label class="sr-only" for="inlineFormInput">Zoeken:</label>
    <div class="form-group has-feedback">
      <label class="control-label"></label>
      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
      <input type="text" class="form-control mb-2 mr-sm-3 mb-sm-0" id="inlineFormInput" placeholder="Vul een zoekterm in" ng-model="gebouwenctrl.gebouwenFilter.generic" ng-model-options='{ debounce: 500 }' ng-change="setGebouwenFilter(delayedFilter)"/>
    </div>
    <loading ng-show="gebouwenLoading"></loading>
  </form>

</div>

<br>

<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default panel-rayons">
      <div class="panel-heading">
        <h3 class="panel-title">Rayons</h3>
      </div>
      <ul class=" list-group">
        <li class="list-group-item" ng-repeat="rayon in gebouwenctrl.rayons" ng-click="gebouwenctrl.gebouwenFilter.Rayon_nieuw_BOG = rayon.Rayon">
          {{rayon.Rayon}}
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-6 col-md-8">

    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="Kaart" ng-click="gebouwenctrl.selectTab('map')"></uib-tab>
      <uib-tab index="1" heading="Lijst" ng-click="gebouwenctrl.selectTab('list')"></uib-tab>
    </uib-tabset>

    <div ng-show="gebouwenctrl.selectedTab === 'map'">
      <google-maps gebouwen="gebouwenctrl.preFilteredGebouwen" location="gebouwenctrl.location" view-port-center="gebouwenctrl.viewPortCenter"></google-maps>
    </div>

    <gebouwen-tabel ng-show="gebouwenctrl.selectedTab === 'list'" gebouwen="gebouwenctrl.preFilteredGebouwen" click-event="gebouwenctrl.selectGebouw(id)"></gebouwen-tabel>
  </div>
</div>
