<div class="header-image"></div>
<div class="header-logo-container">
  <!-- <div class="header-logo"><img ID="" src="assets/images/feenstralogo.jpg" /></div> -->
  <a ui-sref="portal"><div class="header-logo prognotice header-logo-prognotice"></div></a>
  <div class="header-logo customer header-logo-customer" ng-class="{'header-ymere': storingenctrl.LoginService.session.email == 'ymere@feenstra.nl', 'header-feenstra': storingenctrl.LoginService.session.email == 'feenstra@feenstra.nl'}"></div>
</div>
<div class="navbar navbar-static-top  navbar-inverse navbar-prognotice" >
  <div class="container2">
    <button type="button" class="navbar-toggle" ng-click="storingenctrl.isNavCollapsed = !storingenctrl.isNavCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
    <div id="navbar" class="collapse navbar-collapse  navbar-inverse navbar-prognotice" uib-collapse="storingenctrl.isNavCollapsed">
      <ul class="nav navbar-nav">
        <!-- <li ng-class="{'active': storingenctrl.$state.current.name === 'portal'}">
          <a  ui-sref="portal">Home</a>
        </li>
        <li ng-class="{'active': storingenctrl.$state.current.name === 'portal.meldingen'}">
          <a  ui-sref="portal.meldingen">Meld een storing</a>
        </li> -->
        <li ng-class="{'active': storingenctrl.$state.current.name === 'portal.gebouwen'}">
          <a ui-sref="portal.gebouwen">Overzicht</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 16px;">
        <li>
          <a ng-click="storingenctrl.LoginService.Logout()">Uitloggen</a>
        </li>
        <li>
          <a ui-sref="portal" style="padding-top: 0px; padding-bottom: 0px; padding-right: 0px">
            <img style="width: 64px; margin-top:  6px" src="assets/images/vision-logo-only.png"/>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
